* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "san-serif";
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #25252b;
}

.box {
  position: relative;

  filter: drop-shadow(0 15px 50px #000);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: "";
  position: absolue;
  width: 100%;
  height: 100%;
}
.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #2d2d39;
}
.login {
  position: absolute;
  inset: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: rgb(0, 0, 0, 0.2);
  z-index: 1000;
  box-shadow: inset 0 10px 20px rgb(0, 0, 0, 0.5);
}
